.navbar-area{
    position: relative;
    background-color: #000;
}
.area-404 .caja-texto{
    position: relative;
    display: block;
}
.area-404 .caja-texto img{
    width: 100%;
}
.area-404 .caja-texto .texto{
    display: flex;
    align-items: center;
    position: absolute;
    top: 23%;
    right: 13%;
    width: 650px;
    height: 600px;
}
.area-404 .caja-texto .texto h2{
    color: #1D00FF;
    font-size: 60px;
    text-transform: uppercase;
}
.area-404 .caja-texto .texto h2 span{
    font-size: 250px;
}
.area-404 .caja-texto .texto p{
    color: #1D00FF;
}