:root{
    --color-asis-cap: #FE5000;
    --color-asis-encargado: #7C3288;
    --color-turista: #8900FE;
    --color-primer-clase: #1EDF00;
    --color-clientes: #FF32AA;
    --color-no-disponible:#B1B1B1;
}
.navbar-area{
    position: relative;
    background-color: #000;
}
.area-breadcrumb{
    padding-top: 20px;
    padding-bottom: 30px;
    background: black;
}
.area-breadcrumb ol{
    margin: 0;
}
.detalle-asientos{
    padding-bottom: 200px;
    background-color: #000;
}
.detalle-asientos .fondo-detalle{
    background-color: #fff;
    border-radius: 6px;
}
.detalle-asientos .seleccion{
    padding-top: 115px;
}
@media only screen and(max-width: 1200px){
    .detalle-asientos .seleccion{
        padding-top: 80px;
    }
}
.detalle-asientos .seleccion .tabla .table thead tr th{
    text-align: center;
    color: #fff;
    background-color: #000;
}
.detalle-asientos .simbologia .simbologia-content ul{
    padding: 0;
    list-style: none;
}
.detalle-asientos .simbologia .simbologia-content ul .caja-sim{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 5px;
}
.detalle-asientos .fondo-detalle .tabla-cajitas .table{
    border-left: 3px solid #009A9A;
    border-right: 3px solid #009A9A;
}
.detalle-asientos .simbologia .simbologia-content ul .caja-sim i,
.detalle-asientos  .tabla-cajitas .table tbody tr#cajitas-verdes .cajitas#cajita4 i,
.detalle-asientos  .tabla-cajitas .table tbody tr#cajitas-verdes .cajitas#cajita6 i,
.detalle-asientos  .tabla-cajitas .table tbody tr#cajitas-verdes .cajitas#cajita8 i,
.detalle-asientos  .tabla-cajitas .table tbody tr#cajitas-rosas .cajitas#cajita1 i,
.detalle-asientos  .tabla-cajitas .table tbody tr#cajitas-rosas .cajitas#cajita5 i,
.detalle-asientos  .tabla-cajitas .table tbody tr#cajitas-moradas .cajitas#cajita1 i,
.detalle-asientos  .tabla-cajitas .table tbody tr#cajitas-moradas .cajitas#cajita3 i,
.detalle-asientos  .tabla-cajitas .table tbody tr#cajitas-moradas .cajitas#cajita4 i,
.detalle-asientos  .tabla-cajitas .table tbody tr#cajitas-moradas .cajitas#cajita5 i,
.detalle-asientos  .tabla-cajitas .table tbody tr#cajitas-moradas2 .cajitas#cajita5 i
{
    color: #707070;
    font-size: 28px;
}
/*COLORES PARA LAS CAJAS - INICIO*/
.detalle-asientos .simbologia .simbologia-content ul .caja-sim#asistente-cap{
    background-color: var(--color-asis-cap);
}
.detalle-asientos .simbologia .simbologia-content ul .caja-sim#asistente-encar{
    background-color: var(--color-asis-encargado);
}
.detalle-asientos .simbologia .simbologia-content ul .caja-sim#turista{
    background-color: var(--color-turista);
}
.detalle-asientos .simbologia .simbologia-content ul .caja-sim#primera-clase{
    background-color: var(--color-primer-clase);
}
.detalle-asientos .simbologia .simbologia-content ul .caja-sim#clientes{
    background-color: var(--color-clientes);
}
.detalle-asientos .simbologia .simbologia-content ul .caja-sim#no-disponible{
    background-color: var(--color-no-disponible);
}
/*COLORES PARA LAS CAJAS - FIN*/
.detalle-asientos .simbologia .simbologia-content ul li{
    display: flex;
    align-items: center;
}
.detalle-asientos .simbologia .simbologia-content ul li p{
    font-size: 12px;
    margin: 0;
    margin-left: 8px;
    padding: 8px 0;
}
.detalle-asientos .simbologia .simbologia-content .btn-continuar{
    margin-top: 20px;
}
.detalle-asientos .simbologia .simbologia-content .btn-continuar a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 9px 20px;
    width: 100%;
    color: #fff;
    background-color: var(--btn-color);
    border: 1px;
    border-radius: 6px;
}
.detalle-asientos  .nave-espacial{
    position: relative;
}
.detalle-asientos .fondo-detalle .tabla-cajitas{
    position: absolute;
    top: 19%;
    left: 62%;
}
.detalle-asientos .tabla-cajitas .table tbody tr .cajitas,
.detalle-asientos .tabla-cajitas .cajas-medio .cajitas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    cursor: pointer;
}
.detalle-asientos .asientos-superiores .cajitas#cajitaAmarilla{
    border: 2px solid#E6A800;
    background-color: #FFC400;
}
.detalle-asientos .asientos-superiores .cajitas#cajitaPurpura{
    border: 2px solid#7C3288;
}
.detalle-asientos .tabla-cajitas .cajas-medio .cajitas#cajitaAzul{
    border: 2px solid #0074C9;
    background-color: #000FC9;
}
.detalle-asientos .tabla-cajitas .cajas-medio .cajas-azules,
.detalle-asientos .tabla-cajitas .cajas-medio .cajas-anaranjadas{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
}
.detalle-asientos .tabla-cajitas .cajas-medio .cajitas#cajitaAnaranjada{
    border: 2px solid #FE5000;
}
.detalle-asientos  .tabla-cajitas .table tbody tr#cajitas-verdes .cajitas{
    border: 2px solid #1EDF00;
}
.detalle-asientos .tabla-cajitas .table tbody tr#cajitas-verdes .cajitas#cajita4,
.detalle-asientos .tabla-cajitas .table tbody tr#cajitas-verdes .cajitas#cajita6,
.detalle-asientos .tabla-cajitas .table tbody tr#cajitas-verdes .cajitas#cajita8,
.detalle-asientos .tabla-cajitas .table tbody tr#cajitas-rosas .cajitas#cajita1,
.detalle-asientos .tabla-cajitas .table tbody tr#cajitas-rosas .cajitas#cajita5,
.detalle-asientos .tabla-cajitas .table tbody tr#cajitas-moradas .cajitas#cajita1,
.detalle-asientos .tabla-cajitas .table tbody tr#cajitas-moradas .cajitas#cajita3,
.detalle-asientos .tabla-cajitas .table tbody tr#cajitas-moradas .cajitas#cajita4,
.detalle-asientos .tabla-cajitas .table tbody tr#cajitas-moradas .cajitas#cajita5,
.detalle-asientos .tabla-cajitas .table tbody tr#cajitas-moradas2 .cajitas#cajita5
{
    border: 2px solid #B1B1B1;
    background-color: #B1B1B1;
}
.detalle-asientos   .tabla-cajitas .table tbody tr#cajitas-rosas .cajitas{
    border: 2px solid #FF32AA;
}
.detalle-asientos .fondo-detalle .tabla-cajitas .table tbody tr#cajitas-moradas .cajitas,
.detalle-asientos .fondo-detalle  .tabla-cajitas .table tbody tr#cajitas-moradas2 .cajitas,
.detalle-asientos .fondo-detalle .tabla-cajitas .table tbody tr#cajitas-relleno .cajitas{
    border: 2px solid #8900FE;
}
.fondo-cajita-verde{
    background-color: #1EDF00;
}
.fondo-cajita-rosa{
    background-color: #FF32AA;
}
.fondo-cajita-morada{
    background-color: #8900FE;
}
.detalle-asientos .fondo-detalle .caja-casino{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 130px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid;
}
.detalle-asientos .fondo-detalle .caja-bano{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}
.detalle-asientos .fondo-detalle .caja-bano .cartel{
    padding: 2px 20px;
    border: 1px solid #707070;
    border-radius: 5px;
}
.detalle-asientos .fondo-detalle .caja-bano .cartel i{
    color: #707070;
    font-size: 12px;
}
.area-footer{
    background-image: url(../img/footer-alt.png);
}