.navbar-area{
    position: relative;
    background-color: #000;
}

.area-productos{
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 250px;
}
.area-productos h3{
    color: #fff;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 100px;
}
.area-productos .card{
    border: 3px solid #fff;
    border-radius: 0;
    margin-bottom: 210px;
}
.area-productos .card .card-img-top{
    height: 380px;
}
.area-productos .card .card-body{
    color: #fff;
    background-color: #000;
}
.area-productos .card .card-body .card-title{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.area-productos .card .card-body .card-text#oferta{
    font-size: 34px;
    font-weight: 600;
    color: #FE5000;
    margin: 0;
}
.area-productos .card .card-body .card-text#oferta span{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.area-productos .card .card-body .card-text#tachado{
    font-size: 26px;
    font-weight: 400;
    text-decoration: line-through;
    color: #AEAEAE;
}
.area-productos .card .card-body .boton-carrito1 a,
.area-productos .card .card-body .boton-carrito2 a,
.area-productos .card .card-body .boton-carrito3 a,
.area-productos .card .card-body .boton-carrito4 a,
.area-productos .card .card-body .boton-carrito5 a,
.area-productos .card .card-body .boton-carrito6 a
{
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    padding: 8px 18px;
}
.area-footer{
    background-image: url(../img/footer-alt.png);
}