.cajita-busq{
    width: 314px;
    height: 485px;
    background: #6700CE;
    border-radius: 13px;
}
.ul-busq{
    font-family: 'Open Sans', sans-serif;
    span{
        position: relative;
        bottom: 4px;
    }
}
.custom-bb{
    border-bottom: 1px solid #004B84 !important;
}
.card-bg{
    background: #88BE55 !important;
}
.card-bg-2{
    background: #6700CE !important;
}
.card-position{
    width: 303.5px !important;
    top: 140%;
    right: 22%;
}
