//Mixin_Custom-containers
@mixin custom-header ($padding: 100px){
    padding-left: $padding;
    padding-right: $padding;
}
//Custom header!!
.custom-header{
    @include custom-header;
    @media screen and (max-width:1400px){
        @include custom-header($padding:20px)
    }
    @media screen and (max-width:1200px){
        @include custom-header($padding:7px)
    }
}
.li-custom{
    @include custom-header($padding:36.3px !important)
}
//Custom Contenedor Vuelos
@mixin custom-margin ($margin:100px){
    margin-left: $margin;
    margin-right: $margin;
}
.cont-flights{
    @include custom-margin($margin:145px)
}
.cont-interior{
    @include custom-margin($margin:370px)
}
.cont-final{
    @include custom-header($padding:190px)
}
//Mixin_Margin-top
@mixin margin-top ($margin-top:200px){
    margin-top: $margin-top;
}
.mar-top{
    @include margin-top($margin-top:90px !important)
}


//Mixin_Margin-bottom
@mixin margin-bottom ($margin-bottom:200px){
    margin-bottom: $margin-bottom;
}
.mar-bottom{
    @include margin-bottom($margin-bottom:118px)
}

//Mixin_Padding
@mixin padding-left($padding-left: 200px){
    padding-left: $padding-left !important;
}
.pensando-p-2{
    @include padding-left($padding-left:65px)
}
.range-padd{
    @include padding-left($padding-left:75px)
}

@mixin padding-right($padding-right: 200px){
    padding-right: $padding-right !important;
}
.pensand-p{
    @include padding-right($padding-right: 68px)
}

@mixin paddint-top($padding-top: 200px){
    padding-top: $padding-top;
}
.padd-contc-l{
    @include padding-left($padding-left: 15px);
    @media screen and (max-width:1200px){
        @include padding-left ($padding-left:3px)
    }
}

.padd-contc-r{
    @include padding-right($padding-right: 47px);
    @media screen and (max-width:1200px){
        @include padding-right($padding-right:10px)
    }
}

.padd-form-t{
    @include paddint-top($padding-top:35px)
}
.card-body-pt{
    @include paddint-top($padding-top:165px !important)
}
.col-padd{
    @include paddint-top($padding-top:43px !important)
}






.custom-pl-1{
    @include padding-left;
    @media screen and (max-width:1400px){
        @include padding-left($padding-left:60px)
        
    }
    @media screen and (max-width:1200px){
        @include padding-left($padding-left:90px)
    }
    @media screen and (max-width:992px){
        @include padding-left($padding-left:0)
    }
}


.custom-sign-in{
    @include padding-left($padding-left: 45px);
    @media screen and (max-width: 1200px){
        @include padding-left ($padding-left: 8px)
    }
}