body{
    font-family: 'Montserrat', sans-serif !important;
    .cloudsky{
        font-family: 'Poppins', sans-serif !important;
    } 
}
.header-bg{background: $primary-c;}
.cont-fl{
    background: $primary-c;
    position: relative;
    bottom: 180px;
}
.list-col{background: $second-c;}

.display-none{
    @media screen and (max-width:992px){
        display: none;
    }
}


.ham-bar{
    display: none;
    @media screen and (max-width:992px){
        display: flex;
    }
}

.padd-media{
    @media screen and (max-width:1200px){
        padding-right: 0rem !important;
        padding-left: 0rem !important
    }
}

.top-h{
    a{
        text-decoration: none;
        color: $primary-c;
        transition: ease-in-out .2s;
        &:hover{
            color: #000;
        }
    }
}
//Fix h2: "CloudSky"
.pos-fix{
    @media screen and (max-width:992px){
        margin-top: 30px !important;
        padding-bottom: 20px !important;
    }
}
//Fix del nav-bar junto al h2: "CloudSky"
.nav-fix{
    @media screen and (max-width:992px){
        padding-left: 25px !important;
    }
}
.nav-bar{
    li a{
        color: #fff;
        transition: ease-in-out .2s;
        padding-right: 36px;
        &:hover{
            text-decoration: underline;
            color: #FFFF00;
        }
    }
    #link-w{
        width: 139px;
    }
}

.bg-img{
    background-image: url(../img/header-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #000;
    height: 560px;
}


.btn-cotiza{
    background: #FD684F;
    width: 126px;
    height: 25px;
    padding: 3px 5px;
    border-radius: 4px;
    &:hover{
        background: #f1482a;
    }
    a{
        color: #fff;
        text-decoration: none;
        transition: ease-in-out .2s;
        &:hover{
            color: #000;
        }
    }
}
//Posicion del texto + botón
.h2-pos{
    display: block;
    position: relative;
    left: 40%;
    top: 15%;
    @media screen and (max-width:1200px){
        left: 33%;
        top: 20%;
    }
}
//Posición y display para "Desde CLP$"
.tiny-price{
    display: inline-grid;
    position: relative;
    bottom: 24px;
}
//Font-family price
.font-fam{
    font-family: 'Open Sans', sans-serif !important;
}


.list-flight{
    background: $second-c;
    height: 354px;
    margin: 0;
    li{
        padding: 17px 20px;
        &:hover{
            background: #000;
        }
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}
.location-p{
    display: inline-block;
    width: 202px;
    height: 45px;
    background: #fff;
    border-radius: 2px;
    h6{
        font-size: $font-11;
        color: $text-pri;
    }
    .loc-pass{
        border: 0;
        width: 100px;
        color: $text-form;
        option{
            color: #000;
        }
    }
    .user{
        margin-left: 95px;
        color: #707070;
        font-size: $font-17;
    }
}
.location-d{
    display: inline-block;
    width: 236px;
    height: 45px;
    background: #fff;
    border-radius: 2px;
    h6{
        font-size: $font-11;
        color: $text-pri;
    }
    .loc-date{
        input{
            width: 287px;
            border: 0;
        }
    }
}
.location{
    display: inline-block;
    width: 316px;
    height: 45px;
    background: #fff;
    border-radius: 2px;
    h6{
        font-size: $font-11;
        color: $text-pri;
    }
    .loc-select{
        width: 300px;
        border: 0;
        color: $text-form;
        option{
            color: #000;
        }
    }
    
    
}
.chev-col{
    position: relative;
    top: 6px;
    color: $text-thi;
    font-size: 31px;
}

.check-b{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.ul-label{
    li{
        display: inline-block;
        span{
            font-size: $font-14;
            font-weight: $font-w-700;
            color: #fff;
        }
    }
}
.links{
    position: relative;
    width: 190px;
    margin-top: 42px;
    a{
        color: $text-thi;
        text-decoration: none;
        margin-bottom: 33px;
        &:hover{
            color: #fff;
            text-decoration: underline;
        }
    }
}
.button-search{
    position: absolute;
    left: 238px;
    bottom: 28px;
    background: #000;
    width: 448px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding-top: 7px;
    a{
        color: #fff;
        &:hover{
            text-decoration: none;
        }
    }
}
.altura-bg{height: 1121px;}
.tarjetas{
    color: $text-pri;
    position: relative;
    bottom: 135px;
    h2{
        font-size: $font-40;
        font-weight: $font-w-700;
        margin: 0;
        position: relative;
        top: 15px;
    }
    button{
        font-size: $font-16;
        padding-left: 101px;
        padding-right: 101px;
        position: relative;
        bottom: 14px;
    }
    .h5-box{
        position: absolute;
        bottom: 34.6%;
        left: -2%;
        width: 220px;
        height: 35px;
        border-radius: 5px;
        background: $text-thi;
        text-align: center;
        h5{
            font-size: $font-22;
            font-weight: $font-w-500;
            padding: 5px 56px 0 0;
        }
    }
    .d-precios-1{
        display: table-caption;
        font-size: $font-20;
        font-weight: $font-w-700;
        .desd-p{
            position: relative;
            top: 10px;
        }
        .simbolo-p-1{
            font-family: 'Open Sans', sans-serif;
            font-size: $font-12;
            font-weight: $font-w-800;
            position: relative;
            bottom: 3px;
        }
    }
    .d-precios-2{
        display: table-caption;
        position: relative;
        bottom: 16px;
        font-size: $font-23;
        font-weight: $font-w-700;
        .ofert-p{
            position: relative;
            top: 10px;
        }
        .simbolo-p-2{
            font-family: 'Open Sans', sans-serif;
            font-size: $font-14;
            font-weight: $font-w-800;
            position: relative;
            bottom: 5px;
        }
    }
    .viaja{
        h5{
            width: 75%;
        }
        p{
            width: 78%;
            padding: 10px 0 33px 0;
        }
    }
    .tiny-price-2{
        display: table-caption;
        width: 31%;
    }
    .pos-price{position: relative; bottom: 5px;}
}

.bg-final{
    background: #F0F0F0;
    padding-top: 85px;
    height: 680px;
}
//COnt-final-cartas
.user-exp{
    background: #fff;
    width: 360px;
    height: 130px;
    border-radius: 10px;
    padding: 10px 17px;
    figure{
        img{
            width: 53px;
            height: 53px;
        }
        span{
            display: inline-grid;
            position: relative;
            left: 15px;
            bottom: 6px;
        }
        figcaption{margin-top: 10px;}
    }

}
.partners{
    background: #fff;
    width: 100%;
    height: 128px;
    padding: 15px 17px;
    border-radius: 20px;
    position: relative;
    h5{
        font-family: 'Open Sans', sans-serif;
        margin: 13px 0 0 0;
    }
    p{
        width: 17%;
    }
    .partn-img{
        display: inline-flex;
        position: absolute;
        bottom: 10%;
        left: 23%;
    }
}
.como-pagar{
    background: #fff;
    width: 100%;
    height: 128px;
    padding: 15px 17px;
    border-radius: 20px;
    position: relative;
    .pagar-img{
        display: inline-flex;
        position: absolute;
        bottom: 22%;
        left: 22.5%;
    }
}
.foo{
    h6{width: 82%;}
    li{
        padding-bottom: 15px;
    }
    li a{
        font-family: 'Poppins', sans-serif;
        font-size: $font-14;
        font-weight: $font-w-400;
        text-decoration: none;
        color: #fff;
        
        &:hover{
            text-decoration: underline;
            color: $text-four;
        }
    }
    .foo-ul{
        color: #fff;
        font-size: $font-15;
        font-weight: $font-w-700;
        padding: 0;
    }
    .ultima-caja{
        background: #000;
        width: 100%;
        a{
            color: #fff;
            font-size: $font-18;
            padding: 0 5px;
        }
        }
}