*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.infoBox{
    position: relative;
    display: flex;
    width: 920px;
    height: 1020px;
    padding: 20px 10px;
    margin: 58px 0;
    background: #cfcfcf;
}