.navbar-area{
    position: relative;
    background-color: #000;
}
.area-agradecimiento .caja-texto{
    position: relative;
    display: block;
}
.area-agradecimiento .caja-texto .texto{
    display: flex;
    align-items: center;
    position: absolute;
    top: 23%;
    right: 15%;
    width: 444px;
    height: 458px;
    border: 2px solid #fff;
}
.area-agradecimiento .caja-texto .texto h2{
    color: #1D00FF;
    font-size: 65px;
    text-transform: uppercase;
    line-height: 50px;
}
.area-agradecimiento .caja-texto .texto p{
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}