.bg-paquete {
  background-image: url(../img/paquete-img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #000;
  height: 360px;
}

.barra-paq {
  background: #6700CE;
  top: 35%;
  left: 14%;
  width: 72.4%;
  padding: 12px 10px;
  border-radius: 14px;
}

.input-num {
  width: 22% !important;
}

.date-bg {
  width: 202px;
  height: 38px;
  background: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}

.input-position {
  bottom: 1%;
  left: 33%;
}

.input-icon {
  bottom: 24%;
  left: 28%;
}

.input-icon-2 {
  bottom: 24%;
  left: 81%;
}

.card-paq-bg {
  background-color: #004B84 !important;
}

.back-img {
  background-image: url(../img/tarjtea-vertical.png);
  background-repeat: round;
  height: 410px;
}
.back-img #trazado {
  height: 23px;
  margin-top: 15px !important;
}

.col-position {
  position: relative;
  left: 14%;
}

.slider-min {
  z-index: 2;
  position: absolute;
  bottom: 1%;
  opacity: 0;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slider-min:hover {
  opacity: 1;
}

.slider-2 {
  z-index: 2;
  position: absolute;
  bottom: 1%;
  left: 15%;
  opacity: 0;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slider-2:hover {
  opacity: 1;
}

.slider-3 {
  z-index: 2;
  position: absolute;
  bottom: 1%;
  left: 30%;
  opacity: 0;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slider-3:hover {
  opacity: 1;
}

.cajita-int {
  width: 265px;
  height: 303px;
  border-radius: 10px;
}
.cajita-int a {
  font-family: "Open Sans", sans-serif !important;
}
.cajita-int .open-s {
  font-family: "Open Sans", sans-serif !important;
}

.cajita-int-2 {
  width: 265px;
  height: 272px;
  border-radius: 10px;
}
.cajita-int-2 a {
  font-family: "Open Sans", sans-serif !important;
}

.caja-formulario {
  background-image: url(../img/form-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1060px;
  height: 800px;
  border-radius: 9px;
}
.caja-formulario label {
  font-family: "Open Sans", sans-serif !important;
}
.caja-formulario button {
  font-family: "Open Sans", sans-serif !important;
  padding: 10px 440px;
}
.caja-formulario .form-area {
  width: 208%;
}