.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-23 {
  font-size: 23px;
}

.font-24 {
  font-size: 24px;
}

.font-27 {
  font-size: 27px;
}

.font-40 {
  font-size: 40px;
}

.font-47 {
  font-size: 47px;
}

.font-60 {
  font-size: 60px;
}

.font-w-300 {
  font-weight: 300 !important;
}

.font-w-400 {
  font-weight: 400 !important;
}

.font-w-500 {
  font-weight: 500 !important;
}

.font-w-600 {
  font-weight: 600 !important;
}

.font-w-700 {
  font-weight: 700 !important;
}

.font-w-800 {
  font-weight: 800 !important;
}

.font-w-900 {
  font-weight: 900 !important;
}

.bg-col {
  background: #6700CE;
}

.cont-fl {
  background: #6700CE;
}

.foo {
  background: #6700CE;
}

.list-col {
  background: #3F007E;
}

.text-pri {
  color: #004B84 !important;
}

.bg-pri {
  background: #004B84 !important;
}

.text-thi {
  color: #88BE55;
}

.text-four {
  color: #7F7F7F !important;
}

.text-xtra {
  color: #707070 !important;
}

.custom-header {
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 1400px) {
  .custom-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .custom-header {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.li-custom {
  padding-left: 36.3px !important;
  padding-right: 36.3px !important;
}

.cont-flights {
  margin-left: 145px;
  margin-right: 145px;
}

.cont-interior {
  margin-left: 370px;
  margin-right: 370px;
}

.cont-final {
  padding-left: 190px;
  padding-right: 190px;
}

.mar-top {
  margin-top: 90px !important;
}

.mar-bottom {
  margin-bottom: 118px;
}

.pensando-p-2 {
  padding-left: 65px !important;
}

.range-padd {
  padding-left: 75px !important;
}

.pensand-p {
  padding-right: 68px !important;
}

.padd-contc-l {
  padding-left: 15px !important;
}
@media screen and (max-width: 1200px) {
  .padd-contc-l {
    padding-left: 3px !important;
  }
}

.padd-contc-r {
  padding-right: 47px !important;
}
@media screen and (max-width: 1200px) {
  .padd-contc-r {
    padding-right: 10px !important;
  }
}

.padd-form-t {
  padding-top: 35px;
}

.card-body-pt {
  padding-top: 165px !important;
}

.col-padd {
  padding-top: 43px !important;
}

.custom-pl-1 {
  padding-left: 200px !important;
}
@media screen and (max-width: 1400px) {
  .custom-pl-1 {
    padding-left: 60px !important;
  }
}
@media screen and (max-width: 1200px) {
  .custom-pl-1 {
    padding-left: 90px !important;
  }
}
@media screen and (max-width: 992px) {
  .custom-pl-1 {
    padding-left: 0 !important;
  }
}

.custom-sign-in {
  padding-left: 45px !important;
}
@media screen and (max-width: 1200px) {
  .custom-sign-in {
    padding-left: 8px !important;
  }
}

body {
  font-family: "Montserrat", sans-serif !important;
}
body .cloudsky {
  font-family: "Poppins", sans-serif !important;
}

.header-bg {
  background: #6700CE;
}

.cont-fl {
  background: #6700CE;
  position: relative;
  bottom: 180px;
}

.list-col {
  background: #3F007E;
}

@media screen and (max-width: 992px) {
  .display-none {
    display: none;
  }
}

.ham-bar {
  display: none;
}
@media screen and (max-width: 992px) {
  .ham-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  .padd-media {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}

.top-h a {
  text-decoration: none;
  color: #6700CE;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.top-h a:hover {
  color: #000;
}

@media screen and (max-width: 992px) {
  .pos-fix {
    margin-top: 30px !important;
    padding-bottom: 20px !important;
  }
}

@media screen and (max-width: 992px) {
  .nav-fix {
    padding-left: 25px !important;
  }
}

.nav-bar li a {
  color: #fff;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  padding-right: 36px;
}
.nav-bar li a:hover {
  text-decoration: underline;
  color: #FFFF00;
}
.nav-bar #link-w {
  width: 139px;
}

.bg-img {
  background-image: url(../img/header-img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #000;
  height: 560px;
}

.btn-cotiza {
  background: #FD684F;
  width: 126px;
  height: 25px;
  padding: 3px 5px;
  border-radius: 4px;
}
.btn-cotiza:hover {
  background: #f1482a;
}
.btn-cotiza a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.btn-cotiza a:hover {
  color: #000;
}

.h2-pos {
  display: block;
  position: relative;
  left: 40%;
  top: 15%;
}
@media screen and (max-width: 1200px) {
  .h2-pos {
    left: 33%;
    top: 20%;
  }
}

.tiny-price {
  display: -ms-inline-grid;
  display: inline-grid;
  position: relative;
  bottom: 24px;
}

.font-fam {
  font-family: "Open Sans", sans-serif !important;
}

.list-flight {
  background: #3F007E;
  height: 354px;
  margin: 0;
}
.list-flight li {
  padding: 17px 20px;
}
.list-flight li:hover {
  background: #000;
}
.list-flight li a {
  text-decoration: none;
  color: #fff;
}

.location-p {
  display: inline-block;
  width: 202px;
  height: 45px;
  background: #fff;
  border-radius: 2px;
}
.location-p h6 {
  font-size: 11px;
  color: #004B84;
}
.location-p .loc-pass {
  border: 0;
  width: 100px;
  color: #AFAFAF;
}
.location-p .loc-pass option {
  color: #000;
}
.location-p .user {
  margin-left: 95px;
  color: #707070;
  font-size: 17px;
}

.location-d {
  display: inline-block;
  width: 236px;
  height: 45px;
  background: #fff;
  border-radius: 2px;
}
.location-d h6 {
  font-size: 11px;
  color: #004B84;
}
.location-d .loc-date input {
  width: 287px;
  border: 0;
}

.location {
  display: inline-block;
  width: 316px;
  height: 45px;
  background: #fff;
  border-radius: 2px;
}
.location h6 {
  font-size: 11px;
  color: #004B84;
}
.location .loc-select {
  width: 300px;
  border: 0;
  color: #AFAFAF;
}
.location .loc-select option {
  color: #000;
}

.chev-col {
  position: relative;
  top: 6px;
  color: #88BE55;
  font-size: 31px;
}

.check-b {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.ul-label li {
  display: inline-block;
}
.ul-label li span {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.links {
  position: relative;
  width: 190px;
  margin-top: 42px;
}
.links a {
  color: #88BE55;
  text-decoration: none;
  margin-bottom: 33px;
}
.links a:hover {
  color: #fff;
  text-decoration: underline;
}

.button-search {
  position: absolute;
  left: 238px;
  bottom: 28px;
  background: #000;
  width: 448px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 7px;
}
.button-search a {
  color: #fff;
}
.button-search a:hover {
  text-decoration: none;
}

.altura-bg {
  height: 1121px;
}

.tarjetas {
  color: #004B84;
  position: relative;
  bottom: 135px;
}
.tarjetas h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  position: relative;
  top: 15px;
}
.tarjetas button {
  font-size: 16px;
  padding-left: 101px;
  padding-right: 101px;
  position: relative;
  bottom: 14px;
}
.tarjetas .h5-box {
  position: absolute;
  bottom: 34.6%;
  left: -2%;
  width: 220px;
  height: 35px;
  border-radius: 5px;
  background: #88BE55;
  text-align: center;
}
.tarjetas .h5-box h5 {
  font-size: 22px;
  font-weight: 500;
  padding: 5px 56px 0 0;
}
.tarjetas .d-precios-1 {
  display: table-caption;
  font-size: 20px;
  font-weight: 700;
}
.tarjetas .d-precios-1 .desd-p {
  position: relative;
  top: 10px;
}
.tarjetas .d-precios-1 .simbolo-p-1 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 800;
  position: relative;
  bottom: 3px;
}
.tarjetas .d-precios-2 {
  display: table-caption;
  position: relative;
  bottom: 16px;
  font-size: 23px;
  font-weight: 700;
}
.tarjetas .d-precios-2 .ofert-p {
  position: relative;
  top: 10px;
}
.tarjetas .d-precios-2 .simbolo-p-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 800;
  position: relative;
  bottom: 5px;
}
.tarjetas .viaja h5 {
  width: 75%;
}
.tarjetas .viaja p {
  width: 78%;
  padding: 10px 0 33px 0;
}
.tarjetas .tiny-price-2 {
  display: table-caption;
  width: 31%;
}
.tarjetas .pos-price {
  position: relative;
  bottom: 5px;
}

.bg-final {
  background: #F0F0F0;
  padding-top: 85px;
  height: 680px;
}

.user-exp {
  background: #fff;
  width: 360px;
  height: 130px;
  border-radius: 10px;
  padding: 10px 17px;
}
.user-exp figure img {
  width: 53px;
  height: 53px;
}
.user-exp figure span {
  display: -ms-inline-grid;
  display: inline-grid;
  position: relative;
  left: 15px;
  bottom: 6px;
}
.user-exp figure figcaption {
  margin-top: 10px;
}

.partners {
  background: #fff;
  width: 100%;
  height: 128px;
  padding: 15px 17px;
  border-radius: 20px;
  position: relative;
}
.partners h5 {
  font-family: "Open Sans", sans-serif;
  margin: 13px 0 0 0;
}
.partners p {
  width: 17%;
}
.partners .partn-img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  bottom: 10%;
  left: 23%;
}

.como-pagar {
  background: #fff;
  width: 100%;
  height: 128px;
  padding: 15px 17px;
  border-radius: 20px;
  position: relative;
}
.como-pagar .pagar-img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  bottom: 22%;
  left: 22.5%;
}

.foo h6 {
  width: 82%;
}
.foo li {
  padding-bottom: 15px;
}
.foo li a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.foo li a:hover {
  text-decoration: underline;
  color: #7F7F7F;
}
.foo .foo-ul {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 0;
}
.foo .ultima-caja {
  background: #000;
  width: 100%;
}
.foo .ultima-caja a {
  color: #fff;
  font-size: 18px;
  padding: 0 5px;
}