*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ol, ul, li{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}
.page{
    margin-bottom: 0 !important;
}
.bg-glosario{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f0c29, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.custom-logo{
    width: 60px;
    height: 55px;
}
#home-page, #archive-main, #single-items-main, #search-main{
    background: #0f0c29;
}
/*MENÚ*/
.navbar-area{
    padding: 25px 0px 25px 0px;
}
.menu-home-menu-container .menu{
    justify-content: flex-start;
    display: flex;
}
.menu-home-menu-container .menu li{
    margin: 0 8px !important;
}
.menu-home-menu-container .menu li a{
    display: block;
    border-radius: 10px;
    color: #ff9900 !important;
    padding: 10px 20px;
    background-color: #0f0c29;
    border: 2px solid #302b63;
    transition: ease-in-out .2s;
}
.menu-home-menu-container .menu li:hover{
    background-color: #ff9900;
    border-radius: 10px;
}
.menu-home-menu-container .menu li a:hover{
    background-color: #302b63;
    transform: translateY(-0.33em);
    border: 2px solid #ff9900;
}
.search-form{
    display: flex;
    justify-content: flex-end;
}
.search-form .search-field{
    position: relative;
    border: 1px transparent;
    padding: 10px 25px;
    background-color: #302b63;
    color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin-right: 7px;
    transition: ease-out .7s;
}
.search-form .search-field:hover{
    background-color: #0f0c29;
}
.search-form .search-field:focus{
    color: #fff !important;
}
.search-submit{
    color: #fff !important;
    border: 1px transparent !important;
    transition: ease-out  .6s;
    background-color: #0f0c29 !important;
}
.search-form .search-submit:hover{
    border-color: #fff;
    background-color: #3e387d !important;
}
.navbar-toggler{
    background-color: #ff9900;
}
@media only screen and (max-width: 990px){
    .menu-home-menu-container #menu-home-menu{
        margin: 30px 0px !important;
    }
    .search-form{
        margin: 30px 0px !important;
        justify-content: normal;
    }
}
@media only screen and (max-width: 764px){
    .menu-home-menu-container #menu-home-menu{
        justify-content: center;
    }
    .search-form{
        justify-content: center;
    }
    .navbar-toggler{
        margin: auto !important;
    }
}
/*MENÚ CATEGORIAS*/
.categorias-area{
    padding: 40px 0;
}
.menu-categorias-container .menu{
    justify-content: space-between;
    display: flex;
}
/*BOTON CATEGORIAS INICIO*/
/*Creditos: From uiverse.io by @Voxybuns */
#menu-categorias .menu-item {
    /* Variables */
    --button_radius: 10px;
    --button_color: #302b63;
    --button_outline_color: #000;
    --button_text: #fff;
    --color_software: #003577;
    --color_termino: #350b77;
    --color-programa: #033d00;
    --color_sistema: #892525;
    --color_empresas: #773c1c;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin: 0 20px !important;
}

#menu-categorias .menu-item a {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 3em;
    background: var(--button_color);
    color: var(--button_text);
    transform: translateY(-0.2em);
    transition: 0.2s ease-in-out;
}
@media only screen and (max-width: 1200px){
    #menu-categorias .menu-item{
        margin: 0 10px !important;
    }
}
@media only screen and (max-width: 990px){
    .menu-categorias-container .menu{
        flex-direction: column;
        text-align: center;
        margin: 0 70px !important;
    }
    #menu-categorias .menu-item{
        margin: 0px !important;
        margin-bottom: 10px !important;
    }
}
#menu-categorias #menu-item-181:hover{
    background: var(--color_software);
}
#menu-categorias .menu-item#menu-item-181:hover a {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
    border: 2px solid var(--color_software);
    color: #ff9900 !important;
}
#menu-categorias #menu-item-182:hover{
    background: var(--color_termino);
}
#menu-categorias .menu-item#menu-item-182:hover a {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
    border: 2px solid var(--color_termino);
    color: #ff9900 !important;
}
#menu-categorias #menu-item-188:hover{
    background: var(--color-programa);
}
#menu-categorias .menu-item#menu-item-188:hover a {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
    border: 2px solid var(--color-programa);
    color: #ff9900 !important;
}
#menu-categorias #menu-item-183:hover{
    background: var(--color_sistema);
}
#menu-categorias .menu-item#menu-item-183:hover a {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
    border: 2px solid var(--color_sistema);
    color: #ff9900 !important;
}
#menu-categorias #menu-item-187:hover{
    background: var(--color_empresas);
}
#menu-categorias .menu-item#menu-item-187:hover a {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
    border: 2px solid var(--color_empresas);
    color: #ff9900 !important;
}
/*BOTON CATEGORIAS FIN*/
/*CAROUSEL*/
.slider-content{
    position: relative;
    padding: 170px 90px 180px 90px;
}
.slider-content .title{
    font-size: 67px;
    font-weight: 600;
    margin-bottom: 18px;
}
.slider-content .text{
    font-size: 20px;
}

.bg-carousel{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f0c29, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0f0c29, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-left: 4px 2px solid #0f0c29;
}
.carousel-item .slider-image-box .slider-image{
    max-width: 680px;
    width: 100%;
}
.carousel-item .slider-image-box .slider-image img{
    width: 240px;
    height: 240px;
    transform: rotate(20deg);
}
.carousel-item .slider-image-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 32%;
    height: 76%;
    z-index: 9;
}
.carousel-item::before{
    position: absolute;
    content: '';
    width: 32%;
    height: 100%;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f0c29, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0f0c297a, #302b63, #0f0c2991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 0;
    right: 7.4%;
    transform: skewX(-20deg);
}
.carousel-indicators li{
    margin: 0 3px !important;
}
@media only screen and (max-width: 1200px){
    .slider-content .title{
        font-size: 57px;
    }
    .slider-content .text{
        font-size: 17px;
    }
}
@media only screen and (max-width: 990px){
    .slider-content .title{
        font-size: 47px;
    }
    .slider-content .text{
        font-size: 15px;
    }
}
@media only screen and (max-width: 576px){
    .slider-content{
        padding: 170px 10px 180px 10px;
    }
}

/*BORDER GLOSARIO*/
.border-glosario{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 0 !important;
    margin-left: 10px;
    width: 100%;
}
.tarjetas{
    display: block;
    height: 305px;
    margin-bottom: 34px;
    border-radius: 10px;
    padding: 15px;
    background-position: right 15px bottom 15px;
    background-size: auto 100px;
    background-repeat: no-repeat;
    position: relative;
    border: 4px solid #000;
    transition: ease-in-out 0.2s;
}
.tarjetas .titulo-tarjeta:hover{
    color: #ff9900;
}
@media only screen and (max-width: 1200px){
    .tarjetas .titulo-tarjeta h2{
        font-size: 24px;
    }
    .tarjetas .taxonomias a{
        font-size: 16px !important;
    }
}
@media only screen and (max-width: 990px){
    .tarjetas .titulo-tarjeta h2{
        font-size: 18px;
    }
    .tarjetas .taxonomias a{
        font-size: 13px !important;
    }
    .tarjetas .icono-tarjeta{
        right: 40px !important;
    }
    .tarjetas .icono-tarjeta i{
        font-size: 57px !important;
    }
}
.tarjetas .icono-tarjeta{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.tarjetas .icono-tarjeta i{
    font-size: 67px;
}
.tarjetas .icono-tarjeta a:hover{
    color: #ff9900;
}
.tarjetas .taxonomias a{
    font-size: 20px;
}
.tarjetas .taxonomias a:hover{
    color: #ff9900;
}
.post-categories{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*SINGLE-ITEM*/
.contenido-tarjeta{
    border-top: 4px solid #ff9900;
    padding-top: 20px;
}
.contenido-tarjeta .texto{
    font-size: 19px;
}
@media only screen and (max-width: 1200px){
    .contenido-tarjeta .texto{
        font-size: 17px;
    }
}
.contenido-tarjeta .img-tarjeta{
    border-top: 4px solid #ff9900;
    padding-top: 30px;
}
.img-tarjeta{
    display: flex;
    justify-content: center;
}
.img-tarjeta .post-thumbnail{
    border: 4px solid #000;
    border-radius: 4px;
    transition: ease-in-out .2s;
}
.img-tarjeta .post-thumbnail:hover{
    border: 4px solid #ff9900;
    transform: scale(1.1);
}
.img-tarjeta .post-thumbnail img{
    width: 480px;
    height: 340px;
}
@media only screen and (max-width: 1200px){
    .img-tarjeta .post-thumbnail img{
        width: 430px;
        height: 300px;;
    }
}
#single-items-main .post-navigation{
    margin-top: 8.5rem;
}
/*NAV-PREVIOUS*/
#single-items-main .nav-links .nav-previous a{
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ff9900 !important;
    background-color: #0f0c29;
    border: 2px solid #302b63;
    transition: ease-in-out .2s;
}
#single-items-main .nav-links .nav-previous:hover{
    background-color: #ff9900;
    border-radius: 10px;
}
#single-items-main .nav-links .nav-previous a:hover{
    background-color: #302b63;
    transform: translateY(-0.33rem);
    border: 2px solid #ff9900;
}
/*NAV-NEXT*/
#single-items-main .nav-links .nav-next a{
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ff9900 !important;
    background-color: #0f0c29;
    border: 2px solid #302b63;
    transition: ease-in-out .2s;
}
#single-items-main .nav-links .nav-next:hover{
    background-color: #ff9900;
    border-radius: 10px;
}
#single-items-main .nav-links .nav-next a:hover{
    background-color: #302b63;
    transform: translateY(-0.33rem);
    border: 2px solid #ff9900;
}
/*FOOTER*/
.footer-area{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f0c29, #302b63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  #0f0c29, #302b63 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.site-footer{
    padding: 90px 0;
}
.site-info, .site-info a{
    color: #ff9900 !important;
}
.site-info a{
    text-decoration: underline;
}
.site-info a:hover{
    color: #ff4800 !important;
}
@media only screen and (max-width: 990px){
    .site-info{
        font-size: 15px;
    }
}
